{%- block password_widget -%}
    {%- set type = type|default('password') -%}
    <div class="inputs inputs-password" data-controller="form-password">
        {{ block('form_widget_simple') }}
        <label class="toggle-password">
            <input type="checkbox" class="sr-only">
            <span class="sr-only">{% trans from 'security' %}_commons.password-visibility{% endtrans %}</span>
            <span class="eye on"><twig:ux:icon name="lucide:eye" /></span>
            <span class="eye off"><twig:ux:icon name="lucide:eye-off" /></span>
        </label>
    </div>
{%- endblock password_widget -%}